<div class="checkcont">
  <img src="<%= image_path('THE GIVING LOOP (4).png') %>">
  <div class="row py-4>">
    <div class="col">
      <h1><strong>Your Donations</strong></h1>
      <hr>
          <ul style="list-style: none; font: size 20px;">
            <% @basket.basket_items.each do |item| %>
              <li>
            <div class="citems">
              <div><%= item.donation_type.name %></div>
              <div>£<%= item.donation_type.price %>
                <%= link_to "🗑",
                basket_basket_item_path(item),
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
                %></div>
            </div>
              </li>
            <%end %>
          </ul>
      </div>
    </div>
  <hr>

  <div class="b-button-container">
    <% if current_user.nil? %>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#guestModal">Guest Checkout</button>
    <div class="modal custom fade" id="guestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" style="background: #8EB8E5;" >
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Guest Checkout</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for :guest_basket, url: basket_path(@basket), method: :patch do |f| %>
            <%= f.input :email %>
            <%= f.input :first_name %>
            <%= f.input :last_name %>
            <%= f.input :phone_number %>
            <%= f.submit 'Checkout', class: "btn-orange-rounded" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">Create an account</div>
    <div class="modal custom fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" style="background: #8EB8E5;" >
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Create an account</h1></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          placeholder: "bob@gmail.com",
                          input_html: { autocomplete: "email" }%>
              <%= f.input :password,
                          required: true,
                          placeholder: "••••••",
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          required: true,
                          placeholder: "••••••",
                          input_html: { autocomplete: "new-password" } %>
                          <%= f.input :first_name %>
                          <%= f.input :last_name %>
                          <%= f.input :address %>
                          <%= f.input :phone_number %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Sign up", class:"btn-orange-rounded" %>
            </div>
            <% end %>
              <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    <% elsif !current_user.charity %>
          <%= form_with url: baskets_path do %>
          <%= hidden_field_tag 'basket_id', @basket.id %>
          <%= submit_tag 'Checkout', class: 'btn-orange-rounded' %>
        <% end %>
      <% end %>
