<%# This is the home page %>
<%# List of donation choices & checkout basket %>
<%# http://localhost:3000/charity_profiles/1/donation_types %>

<h1>Test Donation Index/Home Page</h1>

<div class="card">
  <% @donationtypes.each do |donationtype| %>
  <%= donationtype.name %>
  <%= donationtype.price %>
<%# photo for card %>
  <% end %>
</div>

<%# Commenting out below makes home page work %>
<%= form_with url: basket_items_path do %>
  <%= hidden_field_tag 'donation_type_id', @donation_type.id %>
  <%= submit_tag 'Add To Basket', class: 'btn btn-primary' %>
<% end %>
