<%# This is the home page %>
<%# List of donation choices & checkout basket %>
<%# http://localhost:3000/charity_profiles/1/donation_types %>

<h1>Home Page/Index Page for Donations</h1>


<div class="card_container">
<div class="card">
<% @donationtypes.each do |donationtype| %>
<li><%= donationtype.name %> - £ <%= donationtype.price %></li>
<%= simple_form_for [ @basket, @basket_item ] do |f| %>
  <%= f.hidden_field :donation_type_id, value: donationtype.id %>
  <%= f.submit "Add To Basket" %>
  <% end %>
<% end %>
</div>

<%#
  <%= form_with url:  basket_basket_items_path[@basket] do %>
    <%# <%= hidden_field_tag 'donation_type_id', donationtype.id %>
    <%# <%= hidden_field_tag 'basket_id', @basket.id %>
    <%# <%= submit_tag 'Add To Basket', class: 'btn btn-primary' %>
    <%# <%= raise %>
  <%# <% end %>
<%# photo for card %>


<br>

<% if !current_user.charity %>
  <h3>My Basket</h3>
  <div class="card">



  </div>
  <% @donationtypes.each do |donationtype| %>
  <%= donationtype.name %>
  <%= donationtype.price %>
<%# photo for card %>
  <% end %>
</div>



<%# Commenting out below makes home page work %>
<%# <%= form_with url: basket_items_path do %>
  <%# <%= hidden_field_tag 'donation_type_id', @donation_type.id %>
  <%# <%= submit_tag 'Add To Basket', class: 'btn btn-primary' %>
<%# <% end %>
<% if false %>
<%# Commenting out below makes home page work %>
<%= form_with url: basket_items_path do %>
  <%= hidden_field_tag 'donation_type_id', @donation_type.id %>
  <%= submit_tag 'Add To Basket', class: 'btn btn-primary' %>
<% end %>
<% end %>

