<div class = "header-section">
  <h1 class="page-title">The Giving Loop</h1>
  <p class="body-text">Closing the feedback loop on charitable donations for the homeless</p>
</div>

<% if @user.nil? || !@user.charity %>
  <div class = "info-icon" >
    <%= link_to about_path do %>
    <%= image_tag "InfoIcon.png", style:"margin-top: 5px; margin-right: 5px;", class: "nav-bar-icon-images" %>
    <% end %>
</div>
  <div class="card-container">
    <% @donationtypes.each do |donationtype| %>
      <div class="flip-card" onclick="this.classList.toggle('flipped')">
        <div class="card-inner">
          <div class="card-front">
            <%= image_tag donationtype.photo_url %>
              <li class="card-front-title"><%= donationtype.name %>  <i class="fa-solid fa-circle-info"></i> </li>
              <li class="card-price"><%= humanized_money_with_symbol(donationtype.price) %></li>
              <%= simple_form_for [ @basket, @basket_item ] do |f| %>
                <%= f.hidden_field :donation_type_id, value: donationtype.id %>
                <div class="card-button">
                  <%= f.submit "Add To Basket", class: "btn-orange-card-rounded", onclick: "event.stopPropagation();" %>
                </div>
              <% end %>
          </div>
          <div class="card-back"><%= donationtype.bio %>
            <li class="card-back-title"><%= donationtype.name %> - <%= humanized_money_with_symbol(donationtype.price) %></li>
            <%= simple_form_for [ @basket, @basket_item ] do |f| %>
              <%= f.hidden_field :donation_type_id, value: donationtype.id %>
                <div class="card-button">
                  <%= f.submit "Add To Basket", class: "btn-orange-card-rounded", onclick: "event.stopPropagation();" %>
                </div>
              <% end %>
          </div>
        </div>
      </div>
      <% end %>
  </div>
<% end %>


<% if !@user.nil? && @user.charity %>
  <div class="invent">
    <% price = [] %>
    <h1>Welcome <%= @user.first_name %>,</h1>
    <br>
    <h2>Donation Inventory</h2>
    <% @unredeeemed_donations.each do |item| %>
      <% price << item.donation_type.price %>
    <% end %>
    <h5>Unredeemed Donations: <b><%= @unredeeemed_donations.count %></b></h5>
    <h5>Total Amount: <b>£<%= price.sum %></b></h5>
    <br>
    <p>Please select which donation you'd like to redeem from the dropdown below</p>
    <%= simple_form_for :items_redeemed, url: unredeemed_items_path, method: :get do |f| %>
      <%= f.input :donation_type, :collection => DonationType.order(:name), :prompt => "Choose a Donation To Redeem", label: false %>
      <%= f.submit "Redeem Donation", class: "btn-orange-rounded" %>
    <% end %>
  </div>
<% end %>
