<div id="basket-item-<%= basket_item.id %>">
  <small>
    <strong><%= basket_item.donation_type.price %></strong>
  </small>
</div>


<%#
<div>
          <%= @basket.basket_items.count %>
          <%# <%= link_to "View Final Basket", basket_path(@basket) %> %>
          <%# <% sum = 0 %> %>
          <%# <% @basket.basket_items.each do |item| %> %>
            <%# <% sum += item.donation_type.price %> %>
          <%# <% end %> %>
          <%# <%= sum %> %>
        <%# </div> %>
