<div class="checkcont">
  <div class = "logo-center" > <%= image_tag "THE_GIVING_LOOP.png"%></div>
    <div class="my_profile_title"> <h1><strong>Your Profile</strong></h1>
    <% if !@user.charity  %>
      <h2><strong>Past Donations</strong></h2></div>
      <hr>
        <% items = BasketItem.includes(:basket, :donation_type).where(baskets: {user_id: current_user}).where(baskets: { state: 'paid' }).order(created_at: :desc)%>
        <% items.each do |item| %>
          <div class="doncard">
            <img class="donimg" src="<%= image_path item.donation_type.photo_url %>" alt="">
              <h6><%= item.donation_type.name %> £<%= item.donation_type.price %></h6>
              <p><strong>Date of purchase:</strong>  <%= item.created_at.to_formatted_s(:short) %></p>
               <% if item.redeemed %>
                 <p> Redeemed on <%=  item.updated_at %> </p>
                <% else %>
                 <p> Not yet redeemed </p>
                <% end %>
          </div>
          <hr>
        <% end %>
    <% else %>
      <h3>All Donations:</h3></div>
      <% @donation_types.each do |donation| %>
        <div class="doncard-charity">
          <img class="donimg" src="<%= image_path donation.photo_url %>" alt="">
          <div><b><p>Name:</p></b>
            <h4><%= donation.name %></h4>
          </div>
          <div>
            <b><p>About:</p></b>
            <p><%= donation.bio %></p>
          </div>
          <div>
            <b><p>Price:</p></b>
            <p>£<%= donation.price %></p>
          </div>
          <div>
          <b><p>Active:</p></b>
          <%= simple_form_for [donation.charity_profile, donation]  do |f| %>
            <%= f.input :active, label: false %>
            <%= f.hidden_field :charity_profile_id, value: donation.charity_profile_id %>
            <%= f.submit "Change Status" %>
          <% end %>
          </div>

        </div>
      <% end %>
    <% end %>

<div class="my_profile_button_container">
  <div class="btn-edit-orange-rounded" data-bs-toggle="modal" data-bs-target="#editModal">Edit Profile</div>
<div class="modal custom fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background: #8EB8E5;" >
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

             <%= f.input :phone_number,
                        hint: "leave it blank if you don't want to change it",
                        required: false,
                        input_html: { autocomplete: "new-phone-number" }, class: %>
            <%= f.input :password,
                        hint: "leave it blank if you don't want to change it",
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :current_password,
                        hint: "we need your current password to confirm your changes",
                        required: true,
                        input_html: { autocomplete: "current-password" } %>
          </div>

          <div class="form-actions">
           <%= f.button :submit, "Update", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>
</div>

</div>

</div>
