<div class="navbar fixed-bottom navbar-expand-sm navbar-gl">
    <% if user_signed_in? %>
      <%= link_to root_path(@root) do %>
        <li class="nav-item">
          <%= image_tag "HomeIcon.png", class: "nav-bar-icon-images" %>
        </li>
      <% end %>
      <%= link_to root_path(@root) do %>
        <li class="nav-item">
          <%= image_tag "InfoIcon.png", class: "nav-bar-icon-images" %>
        </li>
      <% end %>
      <%= link_to user_path(current_user) do %>
        <li class="nav-item">
          <%= image_tag "UserIcon.png", class: "nav-bar-icon-images" %>
        </li>
      <% end %>
    <% else %>
      <%= link_to root_path(@root) do %>
        <li class="nav-item">
          <%= image_tag "HomeIcon.png", class: "nav-bar-icon-images" %>
        </li>
      <% end %>
      <%= link_to root_path(@root) do %>
        <li class="nav-item">
          <%= image_tag "InfoIcon.png", class: "nav-bar-icon-images" %>
        </li>
       <% end %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "log-in-item" %>
      </li>
    <% end %>
</div>
