<div class="checkcont">
  <h1 class="page-title">Order Summary</h1>
    <div class="row py-4">
      <div class="col">
        <div class="c-card-items">
          <h4>Purchase of :</h4>
          <% @order.basket_items.each do |item| %>
          <li>
          <div class="citems">
            <div class="citem"><strong><%= item.donation_type.name %></strong></div>
            <div class="citem"><strong>£<%= item.donation_type.price %></strong></div>
          </div>
          </li>
          <% end %>
        </div>
        <p>Total Amount: <strong><%= humanized_money_with_symbol @order.amount %></strong></p>
        <button id="pay" class="btn-orange-rounded" style="width: 40%;">Make Donation</button>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
          const paymentButton = document.getElementById('pay');
          paymentButton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
              sessionId: '<%= @order.checkout_session_id %>'
            });
          });
        </script>
      </div>
    </div>
</div>
