<!DOCTYPE html>
<html>
  <head>
    <title>TheGivingLoop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title><%= meta_title %></title>
    <%= favicon_link_tag 'favicon.ico'%>
    <meta name="description" content="<%= meta_description %>">

    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body data-controller="basket-subscription"><%= render "shared/navbar" %>
  <%= render "shared/flashes" %>

  <% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
  <% end %>

    <%= yield %>
  </body>
</html>
